html, body {
	margin: 0;
	padding: 0;
}

.wrapper {
	background: url('../img/n4sjamk_background_pic.jpg');
	background-position: center;
	margin: 0;
	padding: 0;
}

.logo {
	min-height: 50px;
	min-width: 50px;
	max-height: 100px;
	max-width: 100px;
	display: inline-block;
	margin-left: 25px;
	margin-top: 15px;
}

.transparent {
	background: transparent;
}

.nav {
	background-color: transparent;
	height: 80px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.fixednav {
	background-color: #281d25;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}
.nav-wrapper {
	width: 960px;
	margin: 0 auto;
}

.nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	display: inline-block;
	position: relative;
	right: -200px;
}

.nav ul li {
	display: inline-block;
}
.nav ul li:hover {
	border-radius: 5px 5px 0px 0px;
}
#logo-li {
	text-align: left;
	display: inline-block;
}
.nav ul li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #CCCCCC;
	font-family: webly;
	font-weight: lighter;
	font-size: 12px;
	z-index: 050;
}
.nav ul li a:hover {
	color: #F75423;
	font-weight:200;
}

.top {
	padding-top: 200px;
	height: 500px;
}
.text {
	color: white;
	font-size: 36px;
}
.arrow {
	color: white;
}