html, body {
	margin: 0;
	padding: 0;
}

p, a {
	font-family: 'Source Sans Pro', sans-serif;
	color: #0f0f0f;
}
h1, h2, h3, h4, h5 {
	font-family: "Open Sans", sans-serif;
	color: #0f0f0f;
}

.wrapper {
	margin:  0;
	padding: 0;
}

.link-button {
	padding: 8px 20px;
	border: 3px solid #221a26;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: white;
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: #221a26;
	font-size: 14px;
	font-weight: bold;
}

/* HEADER */

.logo {
	min-height: 50px;
	min-width: 50px;
	max-height: 100px;
	max-width: 100px;
	display: inline-block;
	margin-top: 15px;
	padding-left: 10px;
	float: left;
}

.transparent {
	background: transparent;
}
.collapse-button {
	display: none;
}
.collapse {
	color: transparent;
}
.nav {
	background-color: #221a26;
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 5;
	padding-bottom: 0;
}
.nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	padding-right: 20px;
	font-weight: bold;
	display: inline-block;
	float: right;
	margin-top: 25px;
}

.nav ul li {
	display: inline-block;
}
.nav ul li:hover {
	border-radius: 5px 5px 0px 0px;
}
#logo-li {
	text-align: left;
	display: inline-block;
}
.nav ul li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #CCCCCC;
	font-weight: lighter;
	font-size: 12px;
	z-index: 050;
}
.nav ul li a:hover {
	color: #F75423;
	font-weight:200;
}

/* CHALLENCING VISIONS -PART */

.top {
	padding-top: 200px;
	height: 500px;
}
.big-text {
	color: white;
	font-size: 48px;
	font-family: 'Open Sans', sans-serif;
}
.arrow {
	color: white;
	position: absolute;
	bottom: 40px;
	left: calc(50% - 20px);
}

/* PROJECT */

.project {
	padding-top: 10px;
	padding-bottom: 30px;
}
.project-area {
	background-color: white;
	width: auto;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0;
}
.whitebg {
	background-color: white;
}
.project-area {
	width: auto;
	height: auto;
	padding: 20px;
}

.orangetext {
	color: orange;
	font-size: 36px;
	font-family: "Open Sans", sans-serif;
	margin-top: 50px;
	margin-bottom: 80px;
	padding-right: 30px;
}

.context {
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 30px;
	margin-top: 50px;
}
.projectwrapper {
	background-color: white;
	height: auto;
}

/* AGILE BY NATURE */


/** DEFAULTS */

html {
	background-size:         cover;
	-webkit-background-size: cover;
}

html.main-bg {
	background: url('../img/n4sjamk_background_pic.jpg') no-repeat center center fixed;
}

html.challenge-bg {
	background: url('../img/challenge_factory.jpg') no-repeat center center fixed;
}

.full {
	width: 100% !important;
}

.background {
	background:          #FFF;
	background-position: center;
}

.content {
	padding-left:   64px;
	padding-top:    32px;
	padding-bottom: 64px;
}

.motto {
	font-size:   56px;
	font-family: 'Open Sans', sans-serif;
}

.button {
	display: inline-block;

	font-size: 24px;

	padding-left:  20px;
	padding-right: 20px;

	padding-top:    12px;
	padding-bottom: 12px;

	border:        2px solid #F75423;
	border-radius: 4px;

	color:           #F75423;
	text-decoration: none;

	transition:         background-color 0.2s linear;
	-webkit-transition: background-color 0.2s linear;
}

.button:hover {
	color:            #FFF;
	background-color: #F75423;
}

/** MEET THE PROJECT */

#meet-the-project {
	height:           680px;
	background-color: #FFF;

	position: relative;
}

#meet-the-project .content {
	width: 50%;
}

#meet-the-project .background {
	height: 680px;
	width: 35%;

	background:      url('../img/about_picture.png');
	background-size: cover;

	position: absolute; top: 0; left: 65%;
}

@media (max-width: 980px) {
	#meet-the-project .content {
		width: 65%;
	}

	#meet-the-project .background {
		left:  75%;
		width: 25%;
	}
}

@media (max-width: 640px) {
	#meet-the-project .col-1-2 {
		width: 100%;
	}

	#meet-the-project .background {
		display: none;
	}
}

#meet-the-project .motto {
	color: #F75423;
}

#meet-the-project .text {
	color:         #4D4D4D;
	margin-bottom: 48px;
}

#meet-the-project img {
	display: block;

	width:     100%;
	max-width: 100%;

	height: auto;
}

/** AGILE MANIFEST */

/*#agile-by-nature {*/
#meet-the-team {
	background: transparent;
}

#meet-the-team .motto {
	color: white;
}

/** MEET THE TEAM */

@media (max-width: 640px) {
	.display-big {
		margin:  0;
		padding: 0;
		display: none;
	}

	.display-small .face-container {
		width: 16.66666666% !important;
	}
}

@media (min-width: 640px) {
	.display-small {
		display: none;
	}
}


.face-container {
	width:    100%;
	position: relative;
}

.face {
	display: block;

	width:     100%;
	height:    auto;
	max-width: 100%
}

.face-card {
	position: absolute; bottom: 0; left: 0; right: 0;
	overflow: hidden;

	height:     0;
	max-height: 0;

	color:       #FFF;
	text-align:  center;
	font-family: 'Source Sans Pro', sans-serif;

	background: rgba(0, 0, 0, 0.65);

	transition:         max-height .2s;
	-o-transition:      max-height .2s;
	-moz-transition:    max-height .2s;
	-webkit-transition: max-height .2s;
}

.face-container-hover > .face-card {
	height:     auto;
	max-height: 128px;
}

.face-card-name {
	font-weight:   bold;
	margin-top:    8px;
	margin-bottom: 4px;
}

.face-card-title {
	margin-bottom: 8px;
}

/** BUILD EXPERIENCES */

#build-experiences {
	padding-top:      48px;
	padding-bottom:   64px;
	background-color: #FFF;
}

#build-experiences .info {
	margin: 0 auto;
}

@media (max-width: 980px) {
	#build-experiences .info {
		width: 100%;
	}

	#build-experiences .info .content {
		padding-bottom: 16px;
		text-align: center;
	}

	#build-experiences .info .text {
		display: none;
	}

	#build-experiences .col-2-3 {
		width: 100%;
	}
}

#build-experiences .info .content {
	padding-left:  32px;
	padding-right: 32px;
}

#build-experiences .info .motto {
	width:         80%;
	margin:        0 auto;
	margin-bottom: 16px;

	font-size: 38px;
}

#build-experiences .info .text {
	width:  80%;
	margin: 0 auto;
}

#build-experiences .experiences .content {
	font-family: 'Source Sans Pro', sans-serif;

	padding-left:   32px;
	padding-right:  32px;
	padding-bottom: 16px;

	width:  80%;
	margin: 0 auto;
}

#build-experiences .experience-title {
	color:         #F75423;
	font-size:     32px;
	margin-bottom: 8px;
}

/** SUPPORTED BY */

#supported-by .motto {
	color: #FFF;
}

/** MEET THE PARTNERS */

#meet-the-partners {
	background-color: #FFF;
}

/* TEAM */

.success-wrapper {
	padding-bottom: 30px;
}
.success-title {
	font-size: 38px;
	font-family: "Open Sans", sans-serif;
	border-top: 5px solid orange;
	padding-top: 15px;
}
.success-text {
	padding-top: 50px;
}

.textareas {
	width: auto;
}
.textareas h2 {
	padding-top: 0;
	margin-top: 0;
	color: orange;
	font-size: 24px;
}
.textareas p {
	font-size: 16px;
	font-style: normal;
	padding-right: 30px;
}
.text-area-wrapper {
	padding-bottom: 20px;
}

/* OUR PARTNERS */

.text-partners {
	margin-top: 100px;
	margin-bottom: 90px;
	color: white;
	font-size: 56px;
	padding-top: 15px;
	width: 330px;
}
.company-logos {
	margin-top: 30px;
	margin-bottom: 10px;
	width: 80%;
	height: auto;
}
.logo-container {
	height: 110px;
	text-align: center;
}
.partners {
	padding-top: 10px;
	padding-bottom: 30px;
}

/* VISION */

.vision {
	text-align: center;
	line-height: 42px;
	font-size: 26px;
	color: white;
	padding: 100px 0;
	magin: auto 60px;
	border-bottom: 1px solid white;
}
.ourvision-text {
	color: white;
}

/* CONTACT */

.contact-wrapper {
	background-color: #221a26;
	padding-bottom: 32px;
}
.contact {
	padding-top: 30px;
	padding-bottom: 30px;
}
.contact h3 {
	font-size: 16px;
	line-height: 14px;
	color: white;
}
.contact p {
	line-height: 12px;
	font-size: 14px;
	color: white;
}
.contact i {
	padding-right: 5px;
	color: white;
}
.contact a {
	color: white;
}

/* FOOTER */

.footer p {
	color: white;
}

/* CHALLENGE */
.content-left {
	float: left;
	/*padding: 64px 32px 32px 64px;*/
}

.content-right {
	margin-left: 786px;
	/*padding: 64px 64px 32px 32px;*/
}

.challenge-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	color: #F75423;
	margin-bottom 8px;
}

.content-block {
	overflow: auto;
	height: 100%;
	background-color: #FFF;
	padding: 72px;
}

.text-block {
	margin-top: 12px;
	margin-bottom: 24px;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

/* MEDIA QUERIES */

@media (max-width: 640px) {
	.logo {
		display: none;
	}
	.nav {
		height: 60px;
	}
	.nav ul {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 0px;
		margin-top: 20px;
		float: left;
	}
	.nav ul li a {
		padding: 0px 5px;
		font-size: 10px;
	}

	.top {
		padding-top: 100px;
		height: 320px;
	}
	.big-text {
		margin-bottom: 10px;
		font-size: 32px;
	}

	.project {
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.orangetext {
		font-size: 26px;
		padding-right: 0;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.context {
		margin-top: 10px;
	}

	.text-agile {
		font-size: 32px;
		margin-top: 50px;
		margin-bottom: 40px;
		width: 160px;
	}

	.success-wrapper {
		padding-bottom: 10px;
	}
	.success-title {
		font-size: 32px;
	}
	.success-text {
		padding-top: 0px;
	}

	.text-partners {
		font-size: 32px;
		margin-top: 40px;
		margin-bottom: 40px;
		padding-top: 5px;
	}
	.company-logos {
		margin: 0 auto;
		width: 50%;
		height: 50%;
	}
	.vision {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.ourvision-text {
		font-size: 18px;
		line-height: 26px;
	}

	.googlemap {
		display: none !important;
	}
}

/* TEAMBOARD PAGE */
.tb-pic-wrapper {
	background-color: #141414;
	margin: 160px auto;
	width: 1500px;
}
.tb-pic {
	width: 1500px;
}
@media (max-width: 1510px) {
	.tb-pic-wrapper {
	margin: 100px auto;
	width: 960px;
}
	.tb-pic {
		width: 960px;
	}
}
@media (max-width: 960px) {
	.tb-pic-wrapper {
	margin: 60px auto;
	width: 640px;
}
	.tb-pic {
		width: 640px;
	}
}