/*
Zerotheme.com | Free Html5 Responsive Templates
Zerogrid - A Single Grid System for Responsive Design
Author: Kimmy
Version : 2.0
Author URI: http://www.zerotheme.com/
*/
/* -------------------------------------------- */
/* ------------------Grid System--------------- */ 

/* ZEROGRID FULL  STYLES FOR COLUMNS THAT ARE FULL WIDTH */ 

.zerogrid-full {
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0px;
}

.zerogrid-full:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.zerogrid-full .row {
}
.zerogrid-full .row:before, .row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.zerogrid-full .row:after {
	clear: both;
}
.zerogrid-full .row {
	zoom: 1;
	background-color: #fff;
}
.zerogrid-full .wrap-col {
	margin: 10px;
}

.zerogrid-full .col-1-2, .zerogrid-full .col-1-2-transparent, .zerogrid-full .col-1-2-photo, .zerogrid-full .col-1-3, .zerogrid-full .col-1-3-1, .zerogrid-full .col-2-3, .zerogrid-full .col-1-4, .zerogrid-full .col-1-4-1, .zerogrid-full .col-2-4, .zerogrid-full .col-3-4, .zerogrid-full .col-1-5, .zerogrid-full .col-2-5, .zerogrid-full .col-3-5, .zerogrid-full .col-4-5, .zerogrid-full .col-1-6, .zerogrid-full .col-2-6, .zerogrid-full .col-3-6, .zerogrid-full .col-4-6, .zerogrid-full .col-5-6 {
	float: left;
	display: inline-block;
}
.zerogrid-full .col-full {
	width: 100%;

}
.zerogrid-full .col-1-2 {
	width: 50%;
	background-color:#FFFFFF;
}
#picheight {
	height:506px;
}

.zerogrid-full .col-1-2-photo {
	width: 50%;
	background-image:url(../img/about_picture.jpg);
	background-size:cover;
}
.zerogrid-full .col-1-2-transparent {
	width: 50%;
	background-color:transparent;
}
.zerogrid-full .col-1-3   {
	width: 33.33%;
}
.zerogrid-full .col-1-3-1 {
	width:33.33%;
	}
.zerogrid-full .col-2-3 {
	width: 66.66%;
}
.zerogrid-full .col-1-4 {
	width: 25%;
}
.zerogrid-full .col-2-4 {
	width: 50%;
}
.zerogrid-full .col-3-4 {
	width: 75%;
}
.zerogrid-full .col-1-5 {
	width: 20%;
}
.zerogrid-full .col-2-5 {
	width: 40%;
}
.zerogrid-full .col-3-5 {
	width: 60%;
}
.zerogrid-full .col-4-5 {
	width: 80%;
}
.zerogrid-full .col-1-6 {
	width: 16.66%;
}
.zerogrid-full .col-2-6 {
	width: 33.33%;
}
.zerogrid-full .col-3-6 {
	width: 50%;
}
.zerogrid-full .col-4-6 {
	width: 66.66%;
}
.zerogrid-full .col-5-6 {
	width: 83.33%;
}
.zerogrid-full .logo {
	width: 25%;
	min-height: 50px;
	min-width: 50px;
	max-height: 150px;
	max-width: 150px;
	height: 25%;
	margin: 10px 0px -30px 10px;
}
.zerogrid-full .col-full-example1 {
	background-image: url(../img/example.jpg);
	background-repeat:repeat-x;
	height: 640px;
	clear: both;
}
.zerogrid-full .col-full-example2 {
	background-image: url(../img/example.jpg);
	background-repeat:repeat-x;
	height: 300px;
	clear: both;
}
.zerogrid-full .col-full-example3 {
	clear: both;
	height: 320px;
}
.zerogrid-full .col-full-example5 {
	background-image: url(../img/example.jpg);
	background-repeat:repeat-x;
	height: 550px;
	clear: both;
}
.zerogrid-full .col-full-example4 {
	background-color: #fff;
	background-repeat:repeat-x;
	opacity:0.99;
	height: 200px;
	clear: both;
}
.zerogrid-full .col-full-example6 {
	background-color: #fff;
	background-repeat:repeat-x;
	opacity:0.99;
	height: 575px;
	clear: both;
}

.zerogrid-full .col-full-all-logos {
	display:none;
	border:0;
	width: 90%;
	background-color:transparent;
	margin: 0 auto;
	margin-bottom: -3px;
}

#logo1, #logo2, #logo3, #logo4 {
	height: 250px;
	text-align:center;
	line-height: 250px;
}
/*#logo1 img, #logo2 img, #logo3 img, #logo4 img {
	height: 10px;
}*/
.zerogrid-full .logo-container {
	background-color:#312b2d;
}

.zerogrid-full .col-full-all-logos img {
	width: 100%;
		margin-bottom: -3px;
	}
	
.zerogrid-full .col-1-4 img {
	width:100%;
}

.zerogrid-full .text {
	line-height: 48px;
	color: #CCCCCC;
	font-size: 38px;
	padding-left: 50px;
	padding-right: 60px;
	font-family:kompani;
	padding-top: 120px;
}
.zerogrid-full .text-agile {
	line-height: 55px;
	color: #fff;
	font-family:kompani;
	font-size: 52px;
	margin-left: 70px;
	margin-right: 35px;
	margin-top: 80px;
	border-top: 8px solid #F75423;
}
.zerogrid-full .text-success {
	line-height: 55px;
	float:right;
	font-family:texgyre;
	color: #474242;
	font-size: 48px;
	margin-right: 80px;
	margin-top: 150px;
	border-top: 8px solid #F75423;
}
.zerogrid-full .text-section {
	line-height: 45px;
	font-family:texgyre;
	color: #F75423;
	font-size: 38px;
	margin-left: 180px;
	margin-right: 55px;
	margin-top: 120px;
}
.zerogrid-full .ourvision-text {
	line-height: 30px;
	text-align: center;
	font-family:kompani;
	color: #CCCCCC;
	font-size: 24px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 80px;
}
.zerogrid-full .wrap-col-header {
	border-bottom: 2px solid #CCCCCC;
	margin: 0 20px;
}
.zerogrid-full .navbutton {
	float: left;
	margin: 5px 20px;
	width: 55px;
	height: 90px;
	display: inline-block;
	color: #808080;
	text-decoration: none;
	position: relative;
}
.zerogrid-full .navbutton a {
	color: #CCCCCC;
	text-decoration: none;
	position: absolute;
	padding-right: 10px;
	top: 5;
}
.zerogrid-full .navbutton a:hover {
	color: #F75423;
}
.zerogrid-full .orangetext {
	font-size: 38px;
	font-family:texgyre;
	text-align: left;
	margin: 100px 25% 55px 25%;
	color: #F75423;
}
.zerogrid-full .orangetext-work {
	font-size: 38px;
	font-family:texgyre;
	text-align: left;
	margin: 100px 25% 55px 25%;
	color: #F75423;
}
.zerogrid-full .context {
	font-size: 20px;
	text-align: left;
	font-family:source;
	margin: 55px 25% 60px 25%;
	color: #767676;
}
.zerogrid-full .success-text {
	font-size: 20px;
	text-align: left;
	opacity:1.0;
	font-family:source;
	margin: 150px 25% 0px 5%;
	color: #4d4d4d;
}
.zerogrid-full .example2 {
	text-align: center;
	line-height: 470px;
	font-family:source;
	font-size: 38px;
	color: #fff;
}
.zerogrid-full .logoshere {
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 20px;
	margin-left:10px;
	margin-right:10px;
	font-family:texgyre;
	background-color: #transparent;
	visibility:hidden;
	opacity: 0;
}
.zerogrid-full #logo1 {
	background-image:url(../img/teamboard_picture.png);
	background-size: cover;
}
.zerogrid-full #logo2 {
	background-image:url(../img/teamboard_btn.png);
	background-size: cover;
}
.zerogrid-full #logo3 {
	background-image:url(../img/home_page.jpg);
	background-size: cover;
}
.zerogrid-full #logo4 {
	background-image:url(../img/teamboard_btn.png);
	background-size: cover;
}
.zerogrid-full #photo1 {
	background-image:url(../img/face1.png);
	background-size: cover;
	height: 250px;
}
.zerogrid-full #photo2 {
	background-image:url(../img/face2.png);
	background-size: cover;
	height: 250px;
}
.zerogrid-full #photo3 {
	background-image:url(../img/face3.png);
	background-size: cover;
	height: 250px;
}
.zerogrid-full #photo4 {
	background-image:url(../img/face4.png);
	background-size: cover;
	height: 250px;
}
.zerogrid-full #logo1:hover {
	background-image:url(../img/unity_btn_orange.png);
	transition: background-image 0.25s ease-in;
}
.zerogrid-full #logo2:hover {
	background-image:url(../img/teamboard_btn_orange.png);
	transition: background-image 0.25s ease-in;
}
.zerogrid-full #logo3:hover {
	background-image:url(../img/toolbar_btn_orange.png);
	transition: background-image 0.25s ease-in;
}
.zerogrid-full #logo4:hover {
	background-image:url(../img/teamboard_btn_orange.png);
	transition: background-image 0.25s ease-in;
}
#photo1:hover {
	background-image:url(../img/face1_orange.png);
	transition: background-image 0.25s ease-in;
}
#photo2:hover {
	background-image:url(../img/face2_orange.png);
	transition: background-image 0.25s ease-in;
}
#photo3:hover {
	background-image:url(../img/face3_orange.png);
	transition: background-image 0.25s ease-in;
}
#photo4:hover {
	background-image:url(../img/face4_orange.png);
	transition: background-image 0.25s ease-in;
}
#photo1:hover .logoshere, #photo2:hover .logoshere, #photo3:hover .logoshere, #photo4:hover .logoshere {
	visibility: visible;
    opacity: 1;
}
.zerogrid-full #logo1 img, #logo2 img, #logo3 img, #logo4 img {
	height:75px;
	width: 75px;
	vertical-align:middle;
	margin: 0 auto;
}

@media only screen and (min-width: 1025px) {

.zerogrid-full .col-full-example1, .col-full-example2, .col-full-example5 {
	background-image:none !important;
}
.zerogrid-full .row {
	background-color:transparent !important;
}
.zerogrid-full .col-1-4 {
	width: 25% !important;
}
.zerogrid-full .col-1-4-1 {
	width: 25% !important;
}
.zerogrid-full .example2 {
	line-height: 506px !important;	
}
.zerogrid-full .logoshere {
	margin-top: 80px !important;
}
.zerogrid-full .col-full-example4 {
	height:300px !important;
}
#close {
	margin-right: 20px !important;
}
.zerogrid-full .context {
	margin: 30px 25% 20px 25% !important;
}
.zerogrid-full .text-section {
	margin-left: 140px !important;
}
.zerogrid-full .text-success {
	margin-left: 25px !important; 
}
.zerogrid-full .title {
	margin-left: 60% !important;
}
.zerogrid-full .n4sbutton {
	margin-top: 30px !important;
	margin-bottom: 10px !important;
}
.zerogrid-full .ourwork-button {
	margin-top: 40px !important;
}
.zerogrid-full .subtext {
	font-size:15px !important;	
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.zerogrid-full {
	width: 100%;
	background-color: #fff;
}
.zerogrid-full .col-1-3, .zerogrid-full .col-2-3, .zerogrid-full .col-1-3-1 {
	width: 33.33%!important;
}
.zerogrid-full .col-1-2-photo {
	display:block;
}
.zerogrid-full .col-1-2 {
	width: 50%!important;
}
.zerogrid-full .col-full-all-logos {
	display: none  !important; 
}
.zerogrid-full .col-1-2, .zerogrid-full .col-full-example4, .zerogrid-full .col-full-example6 {
	opacity: 1.0 !important;
}
.zerogrid-full .col-full-example6 {
	height: 420px !important;
}
.zerogrid-full #picheight {
	height: 440px !important;
}
.zerogrid-full .col-1-6, .zerogrid-full .col-2-6, .zerogrid-full .col-3-6, .zerogrid-full .col-4-6, .zerogrid-full .col-5-6 {
	width: 100%;
}
.zerogrid-full .col-1-4 {
	width: 25% !important;
	background-size:cover !important;
}
.zerogrid-full .col-1-4-1 {
	width: 25% !important;
}
.zerogrid-full .orangetext {
	margin: 50px 10% 30px 10% !important;
	opacity: 1.0;
}
.zerogrid-full .orangetext-work {
	margin: 55px 10% 50px 10% !important;
	opacity: 1.0;
}
.zerogrid-full .text-success, .zerogrid-full .success-text {
	margin: 50px 10% 30px 10% !important;
	opacity: 1.0;
}
.zerogrid-full .context {
	margin: 20px 10px 20px 40px !important;
}
.zerogrid-full .col-full-all-logos {
	display:block !important;
}
.zerogrid-full footer {
	opacity: 1.0 !important;
}
.zerogrid-full .logoshere {
	line-height:28px !important;
	font-size:24px !important;
	margin-top: 60px !important;
}
#photo1, #photo2, #photo3, #photo4 {
	height: 180px !important;	
}
.zerogrid-full .text-section {
	margin: 20px 50px 20px 50px !important;
}
.zerogrid-full .col-full-all-logos {
	display:none !important;
	width:100%!important;
	text-align:center!important;
}
.zerogrid-full .col-full-all-logos img {
	height:100px!important;
	width:100px!important;
	display:inline-block!important;
	margin-right: 25px;
	}
.zerogrid-full .col-full-all-logos img:hover {
	opacity: 0.5 !important;
	}
.zerogrid-full .n4sbutton-wrapper {
	margin-bottom: 30px !important;
	margin-top: 60px !important;
}
.zerogrid-full .titlehere {
	font-size: 20px !important;
	margin-top: 20px !important;
	line-height: 25px !important;
}
.zerogrid-full .viewmore-btn {
	width:50% !important;
	height: 30px; !important;
	line-height: 30px; !important;
	margin-bottom: 10px !important;
	font-size: 15px !important;
}
#unity, #toolbar, #teamboard {
	height: 350px!important;
}
.zerogrid-full .desc {
	margin-top: 15px !important;
	margin-bottom: 25px !important;
	font-size: 14px !important;
}
.zerogrid-full h2 {
	font-size: 28px!important;
	line-height: 35px !important;
	margin: 100px 20% 20px 20% !important;
}
.zerogrid-full .col-1-2 img {
	height: 35px !important;
	margin-left: 20% !important;
}
.zerogrid-full .title {
	margin: 50px 20% 50px 20% !important;	
	font-size:24px !important;
}
.zerogrid-full .desc2 {
	font-size:16px !important;
	margin:50px 20% 0px 0px!important;
}
.zerogrid-full .desc3 {
	font-size:16px !important;
	margin:50px 10% 0px !important;
}
.try-btn {
	width:100px !important;
	height: 30px !important;
	font-size:16px !important;
	line-height:28px !important;
	border-width: 1px !important;
	}
#work-logo1, #work-logo2, #work-logo3, #work-logo4, #work-logo5, #work-logo6 {
	width: 50% !important;
	height: 250px !important;
	transition:none !important;
}
.zerogrid-full #work-logo1:hover {
	background-image:url(../img/unity_btn.png) !important;
}
.zerogrid-full #work-logo2:hover {
	background-image:url(../img/teamboard_btn.png) !important;
}
.zerogrid-full #work-logo3:hover {
	background-image:url(../img/toolbar_btn.png) !important;
}
.zerogrid-full #work-logo6:hover {
	background-image:url(../img/unity_btn.png) !important;
}
.zerogrid-full #work-logo4:hover {
	background-image:url(../img/teamboard_btn.png) !important;
}
.zerogrid-full #work-logo5:hover {
	background-image:url(../img/toolbar_btn.png) !important;
}
.zerogrid-full .n4sbutton {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.zerogrid-full .ourwork-button {
	margin-top: 40px !important;
}
#logo1, #logo2, #logo3, #logo4 {
	height: 200px;
	line-height: 200px;
}
.zerogrid-full .logoshere {
	/*visibility: visible !important;*/
    opacity: 1 !important;
	font-size: 20px !important;
}
iframe {
	margin:10px !important;
	height: 280px !important;
	box-sizing:border-box !important;	
}
.base h3 {
	margin-left: 50px !important;
}
.base p {
	margin-left: 50px !important;
}
.base .twitter {
	margin-left: 50px !important;
}
.arrow {
	margin-top: 450px !important;
	margin-left:-20px !important;
}
}

@media only screen and (max-width: 767px) {
.zerogrid-full {
	width: 100%;
}
.zerogrid-full .col-1-4 {
	width: 25% !important;
}
.zerogrid-full .col-1-4-1 {
	width: 25% !important;
}
.zerogrid-full .col-full-all-logos {
	display:block !important;
}
.zerogrid-full footer {
	opacity: 1.0 !important;
}
.zerogrid-full .logoshere {
    opacity: 1 !important;
	font-size: 20px !important;
}
}

@media only screen and (min-width: 620px) and (max-width: 767px) {
.zerogrid-full {
	width: 100%;
	background-color: #fff;
}
#logo1, #logo2, #logo3, #logo4 {
	height: 150px;
	line-height: 150px;
}
.zerogrid-full .col-1-3, .zerogrid-full .col-2-3, .zerogrid-full .col-1-3-1 {
	width: 100%!important;
}
.zerogrid-full .col-1-2-photo {
	display:none;
}
.zerogrid-full .col-full-all-logos {
	display: none  !important; 
}
.zerogrid-full .col-1-2, .zerogrid-full .col-full-example4, .zerogrid-full .col-full-example6 {
	opacity: 1.0 !important;
}
.zerogrid-full #picheight {
	height: 400px !important;
}
.zerogrid-full .col-1-6, .zerogrid-full .col-1-2, .zerogrid-full .col-2-6, .zerogrid-full .col-3-6, .zerogrid-full .col-4-6, .zerogrid-full .col-5-6 {
	width: 100%;
}
.zerogrid-full .col-1-4 {
	width: 25% !important;
	background-size:cover !important;
}
.zerogrid-full .col-1-4-1 {
	width: 25% !important;
}
/*.zerogrid-full #logo1 img, .zerogrid-full #logo2 img, .zerogrid-full #logo3 img {
	height: 100px !important;
	width: 100px !important;	
}*/
.zerogrid-full .orangetext {
	margin: 50px 10% 30px 10% !important;
	opacity: 1.0;
}
.zerogrid-full .orangetext-work {
	margin: 50px 10% 30px 10% !important;
	opacity: 1.0;
}
.zerogrid-full .text-success, .zerogrid-full .success-text {
	margin: 50px 50px 30px 50px !important;
	opacity: 1.0;
}
.zerogrid-full .context {
	margin: 50px 10% 60px 10% !important;
}
.zerogrid-full .col-full-all-logos {
	display:block !important;
} 	
.zerogrid-full .logoshere {
	line-height:22px !important;
	font-size:18px !important;
	margin-top: 40px !important;
}
#photo1, #photo2, #photo3, #photo4 {
	height: 150px !important;	
}
.zerogrid-full .text-section {
	margin: 20px 50px 20px 50px !important;
}
.zerogrid-full footer {
	opacity: 1.0 !important;
}
.zerogrid-full .col-full-all-logos {
	display:none !important;
	width:100%!important;
	text-align:center!important;
}
.zerogrid-full .col-full-all-logos img {
	height:100px!important;
	width:100px!important;
	display:inline-block!important;
	margin-right: 25px;
	}
.zerogrid-full .col-full-all-logos img:hover {
	opacity: 0.5 !important;
	}
.zerogrid-full .n4sbutton-wrapper {
	margin-bottom: 30px !important;
}
.zerogrid-full .titlehere {
	font-size: 20px !important;
	margin-top: 20px !important;
	line-height: 25px !important;
}
.zerogrid-full .viewmore-btn {
	width:50% !important;
	height: 30px; !important;
	line-height: 30px; !important;
	margin-bottom: 10px !important;
	font-size: 15px !important;
}
#unity, #toolbar, #teamboard {
	height: 300px!important;
}
.zerogrid-full .desc {
	margin-top: 15px !important;
	margin-bottom: 25px !important;
	font-size: 14px !important;
}
.zerogrid-full h2 {
	font-size: 26px!important;
	line-height: 22px !important;
	margin: 75px 40% 20px 20% !important;
}
.zerogrid-full .col-1-2 img {
	height: 20px !important;
	margin-left: 20% !important;
}
.zerogrid-full .title {
	margin: 50px 20% 50px 20% !important;	
	font-size:24px !important;
}
.zerogrid-full .desc2 {
	font-size:16px !important;
	margin:0 20% !important;
	
}
.try-btn {
	width:100px !important;
	height: 30px !important;
	font-size:14px !important;
	line-height:28px !important;
	border-width: 1px !important;
	margin-bottom: 10px !important;
	}
#work-logo1, #work-logo2, #work-logo3, #work-logo4, #work-logo5, #work-logo6 {
	width: 50% !important;
	height: 200px !important;
	transition: none !important;
}
.zerogrid-full .orangetext-work {
	margin: 50px 60% 60px 20% !important;
	opacity: 1.0;
}
.zerogrid-full #work-logo1:hover {
	background-image:url(../img/unity_btn.png) !important;
}
.zerogrid-full #work-logo2:hover {
	background-image:url(../img/teamboard_btn.png) !important;
}
.zerogrid-full #work-logo3:hover {
	background-image:url(../img/toolbar_btn.png) !important;
}
.zerogrid-full #work-logo6:hover {
	background-image:url(../img/unity_btn.png) !important;
}
.zerogrid-full #work-logo4:hover {
	background-image:url(../img/teamboard_btn.png) !important;
}
.zerogrid-full #work-logo5:hover {
	background-image:url(../img/toolbar_btn.png) !important;
}
.zerogrid-full .n4sbutton {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	width: 150px !important;
	height: 30px !important;
	font-size: 14px !important;
	line-height: 30px !important;
}
.zerogrid-full .ourwork-button {
	margin-top: 20px !important;
}
.arrow {
	margin-top: 300px !important;
	margin-left:-20px !important;
}
.zerogrid-full .form {
	width:50% !important;
}
.zerogrid-full .base {
	width:50% !important;
}
.zerogrid-full .base h3, .zerogrid-full .base p, .zerogrid-full .twitter {
	margin-left:50px !important;
}
iframe {
	height:300px!important;
	width: 95% !important;
	margin: 10px !important;
	box-sizing:border-box !important;
}
}

@media only screen and (min-width: 480px) and (max-width: 619px) {
.zerogrid-full {
	width: 100%;
	/*background-color: #fff;*/
}
.zerogrid-full .col-1-3, .zerogrid-full .col-2-3, .zerogrid-full .col-1-3-1 {
	width: 100%!important;
	background-color: #fff;
}
.zerogrid-full .col-1-2-photo {
	display:none;
}
.zerogrid-full .col-1-2, .zerogrid-full .col-full-example4, .zerogrid-full .col-full-example6 {
	opacity: 1.0 !important;
}
.zerogrid-full #picheight {
	height: 400px !important;
}
.zerogrid-full .base, .zerogrid-full .form {
	width:50% !important;
}
.zerogrid-full .col-1-4 {
	width: 50%;
}
.zerogrid-full .col-1-4, .zerogrid-full .col-1-4-1{
	display:block!important;
}
.zerogrid-full .col-1-4 img, .zerogrid-full .col-1-4-1 img{
	display:block!important;
	
}
#photo1, #photo2, #photo3, #photo4 {
	height: 100px !important;	
}
#logo1, #logo2, #logo3, #logo4 {
	height: 120px !important;
	margin-top: 5px !important;
	line-height: 120px !important;	
}
.zerogrid-full .logoshere {
	font-size: 13px !important;
	line-height: 15px !important;
	margin-top: 20px !important;	
}
.zerogrid-full .col-1-6, .zerogrid-full .col-1-2, .zerogrid-full .col-2-6, .zerogrid-full .col-3-6, .zerogrid-full .col-4-6, .zerogrid-full .col-5-6 {
	width: 100%;
}
.zerogrid-full .orangetext {
	margin: 50px 10% 30px 10% !important;
	opacity: 1.0;
}
.zerogrid-full .orangetext-work {
	margin: 50px 60% 60px 20% !important;
	opacity: 1.0;
}
.zerogrid-full .text-success, .zerogrid-full .success-text {
	margin: 50px 10% 30px 10% !important;
	opacity: 1.0;
}
.zerogrid-full .context {
	margin: 50px 10% 60px 10% !important;
}
.zerogrid-full .col-full-all-logos {
	display:none !important;
	margin:0 auto !important;
}
iframe {
	height:300px!important;
	width: 95% !important;
	margin: 10px !important;
	box-sizing:border-box !important;
}
.form, .base {
	height: 255px !important;
}
.zerogrid-full .text-section {
	margin: 20px 50px 20px 50px !important;
}
.zerogrid-full .col-full-all-logos {
	display:none !important;
	width:100%!important;
	text-align:center!important;
	background-image:url(../img/bg_low.jpg)!important;
}
.zerogrid-full .col-full-all-logos img {
	height:100px!important;
	width:100px!important;
	display:none!important;
	margin-right: 25px;
	}
.zerogrid-full .col-full-all-logos img:hover {
	opacity: 0.5 !important;
	}	
.zerogrid-full .row {
	background-color:transparent !important;
}
.zerogrid-full .titlehere {
	font-size: 16px !important;
	margin-top: 20px !important;
	line-height: 25px !important;
}
.zerogrid-full .viewmore-btn {
	width:50% !important;
	height: 30px; !important;
	line-height: 30px; !important;
	margin-bottom: 10px !important;
	font-size: 15px !important;
}
#unity, #toolbar, #teamboard {
	height: 200px!important;}
.zerogrid-full .desc {
	margin-bottom: 25px !important;
	font-size: 14px !important;
}
.zerogrid-full h2 {
	font-size: 22px!important;
	line-height: 22px !important;
	margin: 50px 20% 20px 20% !important;
}
.zerogrid-full .col-1-2 img {
	height: 35px !important;
	margin-left: 20% !important;
}
.zerogrid-full .title {
	margin: 50px 20% 50px 20% !important;	
	font-size:24px !important;
}
.zerogrid-full .desc2 {
	font-size:16px !important;
	margin:0 20% !important;
	
}
.try-btn {
	width:100px !important;
	height: 30px !important;
	font-size:14px !important;
	line-height:28px !important;
	border-width: 1px !important;
	}
#work-logo1, #work-logo2, #work-logo3, #work-logo4, #work-logo5, #work-logo6 {
	width: 50% !important;
	height: 150px !important;
	transition:none !important;
}	
.zerogrid-full #work-logo1:hover {
	background-image:url(../img/unity_btn.png) !important;
}
.zerogrid-full #work-logo2:hover {
	background-image:url(../img/teamboard_btn.png) !important;
}
.zerogrid-full #work-logo3:hover {
	background-image:url(../img/toolbar_btn.png) !important;
}
.zerogrid-full #work-logo6:hover {
	background-image:url(../img/unity_btn.png) !important;
}
.zerogrid-full #work-logo4:hover {
	background-image:url(../img/teamboard_btn.png) !important;
}
.zerogrid-full #work-logo5:hover {
	background-image:url(../img/toolbar_btn.png) !important;
}
.zerogrid-full .n4sbutton {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.zerogrid-full .ourwork-button {
	margin-top: 10px !important;
    margin-bottom: 20px !important;
}
#teamboard-pic, #teamboard-pic2, #teamboard-pic3, #teamboard-pic4 {
	height: 120px !important;
}
#logo1, #logo2, #logo3, #logo4 {
	/*background-color:#000 !important;*/
	background-image:none !important;
}
.arrow {
	margin-top: 310px !important;
	margin-left:-20px !important;
}
.zerogrid-full .base h3, .zerogrid-full .base p, .zerogrid-full .twitter {
	margin-left:50px !important;
}
}

/* Normal smartphones with smaller screens*/
@media only screen and (max-width: 479px) {
.zerogrid-full, .zerogrid-full .col-1-2, .zerogrid-full .col-1-2-transparent, .zerogrid-full .col-1-3, .zerogrid-full .col-1-3-1, .zerogrid-full .col-2-3, /*.zerogrid-full .col-1-4,*/ .zerogrid-full .col-2-4, .zerogrid-full .col-3-4, .zerogrid-full .col-1-5, .zerogrid-full .col-2-5, .zerogrid-full .col-3-5, .zerogrid-full .col-4-5, .zerogrid-full .col-2-6, .zerogrid-full .col-3-6, .zerogrid-full .col-4-6, .zerogrid-full .col-5-6 {
	width: 100%;
	margin: 0 auto!important;
}
.zerogrid-full .col-1-4, .zerogrid-full .col-1-4-1{
	display:block!important;
}
.zerogrid-full .col-1-4 img, .zerogrid-full .col-1-4-1 img{
	display:block!important;
}
#photo1, #photo2, #photo3, #photo4 {
	height: 100px !important;	
}
.zerogrid-full .col-full-all-logos {
	display:none !important;
	width:100%!important;
	text-align:center!important;
}
.zerogrid-full .logoshere {
	font-size: 14px !important;
	line-height: 16px !important;
	margin-top: 20px !important;
}
.zerogrid-full .col-full-all-logos img {
	height:75px!important;
	width:75px!important;
	display:inline-block!important;
	margin-right: 25px;
	}
.zerogrid-full .col-full-all-logos img:hover {
	opacity: 0.5 !important;
	}	
.zerogrid-full .col-full-example4 {
	height: 100px !important;
}	
.zerogrid-full .col-1-2-photo {
	display:none;
}
.zerogrid-full .row {
	background-color:transparent !important;
}
.zerogrid-full .col-1-2 {
	opacity:1.0;
	font-size:16px;
	background-color:#fff!important;
}
.zerogrid-full .col-1-3 {
	opacity:1.0;
	font-size:16px;
	background-color:#fff!important;
}
#picheight {
	height:275px!important;
}
.zerogrid-full .n4sbutton {
	margin-top: 10px !important;
	width: 150px !important;
	height: 30px !important;
	font-size: 14px !important;
	line-height: 30px !important;
}
	
.zerogrid-full .ourvision-text {
	font-size: 16px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 40px !important;
}
.zerogrid-full .ourwork-button {
	margin-top: 20px !important;
	width: 150px !important;
	height: 30px !important;
	line-height: 30px !important;
	font-size: 14px !important;
}
.zerogrid-full .orangetext {
	font-size: 24px;
	margin: 25px 25px 25px 25px; 
}
.zerogrid-full .orangetext-work {
	font-size: 24px;
	margin: 25px 25px 25px 25px; 
	}			

.zerogrid-full .text {
	line-height: 38px !important;
	font-size: 28px !important;
	padding-top: 60px !important;
}
#logo1, #logo2, #logo3, #logo4 {
	height: 100px;
}
.zerogrid-full .text-agile {
	font-size: 38px !important;
	margin-top: 60px !important;
}

.zerogrid-full .text-section {
	margin-left: 30px !important;
	margin-top: 25px !important;
	font-size: 24px !important;
}

.zerogrid-full .success-text {
	font-size: 20px !important;
	margin-top: 30px !important;
	margin-left:40px !important;
	display:none!important;
}
.zerogrid-full .text-success {
	margin-left:30px !important;
	float:left !important;
	margin-top:50px !important;
	font-size: 30px !important;
	line-height:26px !important;
}

.zerogrid-full .col-full-example1 {
	height:490px !important;
}

.zerogrid-full .col-full-example2 {
	height:200px !important;
}

.zerogrid-full .col-full-example5 {
	height:400px !important;
}
.zerogrid-full .context {
	margin:30px 30px 10px 30px !important;
	font-size:18px;
	background-color:#fff;
}
.zerogrid-full .sayhello-button {
	margin-top: 35px!important;
}
iframe {
	height:200px!important;
	width: 100% !important;
	margin: 0 !important;
}
.social {
	height: 200px !important;
}
.zerogrid-full .n4sbutton-wrapper {
	background-color: #FFF;
}

.zerogrid-full .titlehere {
	font-size: 16px !important;
	margin-top: 20px !important;
	line-height: 25px !important;
}
.zerogrid-full .viewmore-btn {
	width:50% !important;
	height: 30px; !important;
	line-height: 30px; !important;
	margin-bottom: 10px !important;
	font-size: 12px !important;
	margin-top: 30px !important;
}
#unity, #toolbar, #teamboard {
	height: 250px!important;
}
.zerogrid-full .desc {
	margin: 10px 10px 10px !important;
	display:none !important;
	font-size: 14px !important;
}
.zerogrid-full h2 {
	font-size: 18px!important;
	line-height: 22px !important;
	margin: 100px 20% 20px 20% !important;
}
.zerogrid-full .col-1-2 img {
	height: 35px !important;
	margin-left: 20% !important;
}
.zerogrid-full .title {
	margin: 50px 20% 10px 60% !important;	
	font-size:24px !important;
}
.zerogrid-full .desc2 {
	font-size:16px !important;
	margin:10px 20% !important;
	
}
.try-btn {
	width:100px !important;
	height: 30px !important;
	font-size:16px !important;
	line-height:28px !important;
	border-width: 1px !important;

	}
.zerogrid-full #work-logo1, .zerogrid-full #work-logo2, .zerogrid-full #work-logo3, .zerogrid-full #work-logo4, .zerogrid-full #work-logo5, .zerogrid-full #work-logo6 {
	width: 50% !important;
	height: 150px !important;
	transition:none !important;
}
.zerogrid-full #work-logo1:hover {
	background-image:url(../img/unity_btn.png) !important;
}
.zerogrid-full #work-logo2:hover {
	background-image:url(../img/teamboard_btn.png) !important;
}
.zerogrid-full #work-logo3:hover {
	background-image:url(../img/toolbar_btn.png) !important;
}
.zerogrid-full #work-logo6:hover {
	background-image:url(../img/unity_btn.png) !important;
}
.zerogrid-full #work-logo4:hover {
	background-image:url(../img/teamboard_btn.png) !important;
}
.zerogrid-full #work-logo5:hover {
	background-image:url(../img/toolbar_btn.png) !important;
}
.zerogrid-full .orangetext {
	margin-top: 20px !important; 
}
.zerogrid-full .orangetext-work {
	margin-top: 20px !important; 
}	
#teamboard-pic, #teamboard-pic2, #teamboard-pic3, #teamboard-pic4 {
	display:none !important;
	}
#photo1, #photo2, #photo3, #photo4 {
	height: 75px !important;
}
.zerogrid-full .logoshere {
	font-size:12px !important;
	margin-top: 5px !important;
	}
#logo1, #logo2, #logo3, #logo4 {
	/*background-color:#000 !important;*/
	background-image:none !important;
}
.zerogrid-full #logo1 img, #logo2 img, #logo3 img, #logo4 img {
	height:50px !important;
	width: 50px !important;
}
.base, .form {
	height:220px !important;
	}
.base h3, .form h3 {
	margin-left: 75px !important;
	margin-top: 20px !important;
}
.base p {
	margin-left: 75px !important;
}
.base .twitter {
	margin-left:75px !important;
}
.field1 {
	margin-top: 20px !important;
}
.arrow {
	margin-top: 75px !important;
	text-align:center !important;
	margin-left: 45% !important;
}
.form {
	text-align:left !important;
	margin-left: 75px !important;
}
.form input {
	margin-left: 75px !important;
}
textarea {
	margin-left: 75px !important;
}
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
iframe {
	width: 100%;
	height:270px;
	margin: 15px;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
.zerogrid-full footer {
	background-color: #221A26;
	height: 75px;
	clear: both;
	text-align:center;
}
.zerogrid-full footer p {
	color: #FFF;
	font-size: 12px;
	line-height: 75px;
	font-family:webly;
}

.zerogrid-full footer a {
	color: #FDFDFD;
	line-height:25px;
	font-size:12px;
	text-decoration:none;
	margin: 0 auto;
	font-family:webly;
}

.zerogrid-full footer a:hover{
	color: #F75423;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#black {
	/*background-color:#000000 !important;*/
}

/* CSS Styles for all the three buttons*/

.zerogrid-full .n4sbutton-wrapper {
	text-align: center;
}
.zerogrid-full .n4sbutton {
	margin-bottom: 40px;
	margin-top: 100px;
	background-color: #fff;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 0px;
	border: 2px solid #767676;
	display: inline-block;
	color: #4f484f;
	font-family:source;
	font-size: 21px;
	font-style: normal;
	height: 49px;
	line-height: 49px;
	width:179px;
	text-decoration: none;
	text-align: center;
}
.zerogrid-full .n4sbutton:hover {
	position: relative;
	top: 1px;
	color:#fff;
	background-color: #F75432;
	border-color:#F75432;
}
.zerogrid-full .n4sbutton:active {
	position: relative;
	top: 1px;
}
.zerogrid-full .ourwork-button {
	margin-bottom: 25px;
	margin-top: 100px;
	background-color: #fff;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 1.48px;
	border: 2px solid #f75423;
	display: inline-block;
	color: #f75423;
	font-family: source;
	font-size: 21px;
	font-style: normal;
	height: 49px;
	line-height: 49px;
	width: 179px;
	text-decoration: none;
	text-align: center;
}
.zerogrid-full .ourwork-button:hover {
	color:#fff;
	background-color:#f75423;
	top:1px;
	cursor:pointer;
}
.zerogrid-full .ourwork-button:active {
	-webkit-box-shadow: 0px 2px 0px #F75423;
    -moz-box-shadow: 0px 2px 0px #F75423;
    box-shadow: 0px 2px 0px #F75423;
    position:relative;
    top:7px;
}
.zerogrid-full .roger-button {
	margin-bottom: 10px;
	margin-top: 100px;
	background-color: #fff;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 1.48px;
	border: 2px solid #f75423;
	display: inline-block;
	color: #f75423;
	font-family: source;
	font-size: 21px;
	font-style: normal;
	height: 39px;
	line-height: 39px;
	width: 175px;
	text-decoration: none;
	text-align: center;
	margin-left: 0px;
}
.zerogrid-full .roger-button:hover {
	color:#fff;
	background-color:#f75423;
	top:1px;
	cursor:pointer;
}
.zerogrid-full .roger-button:active {
	-webkit-box-shadow: 0px 2px 0px #F75423;
    -moz-box-shadow: 0px 2px 0px #F75423;
    box-shadow: 0px 2px 0px #F75423;
    position:relative;
    top:7px;
}
.zerogrid-full #sayhello-button {
	margin-top: 80px;
	background-color: #2A2828;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 1.48px;
	border: 1px solid #f5f0f5;
	display: inline-block;
	color: #ebe4eb;
	font-family: kompani;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	height: 36px;
	line-height: 36px;
	width: 148px;
	text-decoration: none;
	text-align: center;
	-webkit-box-shadow: 0px 4px 0px #F75423;
    -moz-box-shadow: 0px 4px 0px #F75423;
     box-shadow: 0px 4px 0px #F75423;
	 z-index: 1000;
}
.zerogrid-full #sayhello-button:hover {
	color:#F75423;
	top:1px;
	cursor:pointer;
}
.zerogrid-full #sayhello-button:active {
	-webkit-box-shadow: 0px 2px 0px #F75423;
    -moz-box-shadow: 0px 2px 0px #F75423;
    box-shadow: 0px 2px 0px #F75423;
    position:relative;
    top:7px;
}

.close {
	background-color:#ffffff;
	float:right;
	margin-right: 35px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	border:1px solid #f75332;
	display:inline-block;
	color:#f75332;
	font-family:Arial;
	font-size:18px;
	font-style:normal;
	height:20px;
	line-height:22px;
	width:20px;
	text-decoration:none;
	text-align:center;
}
.close:hover {
	background-color:#F75432;
	color: #fff;
	cursor:pointer;
}
.close:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
/* This button was generated using CSSButtonGenerator.com */

/* CSS Styling for responsive grid navigation menu */

.zerogrid-full .nav {
	width: 100%;

}
.zerogrid-full .nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	text-align:right;
}
.zerogrid-full .nav ul li {
	display: inline-block;


}
.zerogrid-full .nav ul li:hover {
	background-color:#000;
	border-radius: 5px 5px 0px 0px;
}
.zerogrid-full .nav ul li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #CCCCCC;
	font-family:webly;
	font-weight:lighter;
	font-size:12px;
}
.zerogrid-full .nav ul li a:hover {
	color: #F75423;
	font-weight:200;

}

@media (max-width: 767px) {
.zerogrid-full .example-header .container {
	width: 100%;
}
.zerogrid-full .nav ul {
	width: 100%;
	font-weight: normal;
	text-align:center;
}
.zerogrid .nav.scroll-to-fixed-fixed { 
	height: 50px !important;
}
.zerogrid-full .nav ul li {
	width: 50%;
	float: left;
}
.zerogrid-full .nav ul li:nth-of-type(odd) a {
	border-right: 1px solid #ccc;
}
.zerogrid-full .nav ul li a {
	padding: 8px 0px;
	border-bottom: 1px solid #ccc;
	display: block;
}
.zerogrid-full .nav ul li a:hover {
	background-color:#F75423;
	color: #cccccc;
}

.zerogrid-full .logo { margin-bottom: 10px;}
}
/* CSS Styling for contact form */

.zerogrid-full form p {
	margin-bottom: 5px;
}
.submit	{
	line-height:30px !important;
	font-size:18px !important;
	margin-top: 10px !important;
}
.submit:hover	{
}
i {
	margin-left: 15px;
	color: #4d4d4d;
}
i:hover {
	color: #F75432;
}
.anchor {
	padding-top: 50px; 
	margin-top: -50px;
}
.arrow {
	margin-top: 650px;
	color:#fff;
}
.arrow:hover {
  -webkit-animation: bounce 1s;
    animation: bounce 1s;
}
.subtext {
	font-style:italic;
	font-size:13px;
}
.contact {
	background-color:transparent;
	height: 500px;
}
.base {
	height:300px;
	background-color:#FFFFFF;
}
.base h3 {
	font-size:28px;
	color: #F75432;
	margin-top: 50px;
	margin-left: 100px;
	font-family: texgyre;
}
.form h3 {
	font-size:28px;
	color: #F75432;
	margin-top: 50px;
	margin-left: -80px;
	font-family: texgyre;
}
.base p {
	text-align: left;
	font-size:20px;
	font-family: source;
	color:#4d4d4d;
	margin-left: 100px;
}
.base .twitter {
	text-align: left;
	margin-left: 100px;
}
.social {
	text-align:center;
	height:300px;
	line-height: 300px;
	background-color:#FFFFFF;
}
.form {
	text-align:center;
	height:300px;
	background-color:#FFFFFF;
}

.form .field1{
	margin-top: 10px;
}

input, textarea, select {
   -webkit-appearance: none;
   width: 175px;
   font-family:source;
   border: 1px solid #4d4d4d;
   box-sizing: border-box;
   border-radius: 3px;
   margin-bottom: 5px;
}
/* CSS styling for font-face fonts */


@font-face {
    font-family: liberationsans;
    src:url(../fonts/LiberationSans-Regular.ttf);
}
@font-face {
    font-family: webly;
    src:url(../fonts/weblysleekuil.ttf);
}

@font-face {
    font-family: kompani;
    src:url(../fonts/KompaniHHF.otf);
}
@font-face {
	font-family:source;
	src:url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
	font-family:texgyre;
	src:url(../fonts/texgyreschola-regular.otf);
}
